<div class="listing-details">
    <div class="my-listing-details">
        <p id="auto-title">{{carListing.title}}</p>
        <img src="{{carListing.imageUrl}}">
        <div class="listing-props">
            <h2>Brand: {{carListing.brand}}</h2>
            <h3>Model: {{carListing.model}}</h3>
            <h3>Year: {{carListing.year}}</h3>
            <h3>Fuel: {{carListing.fuel}}</h3>
            <h3>Price: {{carListing.price}}$</h3>
        </div>
        {{#if isCreator}}
            <div class="listings-buttons">

                <a href="#/carListingEdit/{{carListing._id}}" class="button-list">Edit</a>
                <a href="#/carListingDelete/{{carListing._id}}" class="button-list">Delete</a>


            </div>
        {{/if}}

        <p id="description-title">Description:</p>
        <p id="description-para">{{carListing.description}}</p>

    </div>
</div>