{{> navigation}}
<div id="edit-listing">
    <form method="post" action="#/carListingEdit/{{carId}}">

        <div class="container">
            <h1>Edit Car Listing</h1>
            <p>Please fill in this form to edit an listing.</p>
            <hr>
            <input type="hidden" name="carId" value="{{carId}}" />

            <p>Title</p>
            <input type="text" placeholder="Enter Title" name="title" value="{{carListing.title}}">

            <p>Description</p>
            <input type="text" placeholder="Enter Description" name="description" value="{{carListing.description}}">

            <p>Car Brand</p>
            <input type="text" placeholder="Enter Car Brand" name="brand" value="{{carListing.brand}}">

            <p>Car Model</p>
            <input type="text" placeholder="Enter Car Model" name="model" value="{{carListing.model}}">

            <p>Car Year</p>
            <input type="number" placeholder="Enter Car Year" name="year" value="{{carListing.year}}">

            <p>Car Image</p>
            <input type="text" placeholder="Enter Car Image" name="imageUrl" value="{{carListing.imageUrl}}">

            <p>Car Fuel Type</p>
            <input type="text" placeholder="Enter Car Fuel Type" name="fuelType" value="{{carListing.fuel}}">

            <p>Car Price</p>
            <input type="number" placeholder="Enter Car Price" name="price" value="{{carListing.price}}">

            <hr>
            <button type="submit" class="registerbtn">Edit Listing</button>
        </div>
    </form>
</div>

{{> footer}}