<div class="user-meme">
    <a href="#/meme/details/{{_id}}" class="user-meme-title">{{title}}</a>
    <a href="#/meme/details/{{_id}}"> <img class="userProfileImage" src="{{imageUrl}}"></a>

    <div class="user-memes-buttons">
        {{#if isCreator}}
        <a href="#/meme/edit/{{_id}}" class="user-meme-btn">Edit</a>
        <a href="#/meme/delete/{{_id}}" class="user-meme-btn">Delete</a>
        {{/if}}
    </div>
</div>