<a href="#/flight/details/{{_id}}" class="added-flight">
    <img src="{{image}}" alt="" class="picture-added-flight">
    <h3>{{destination}}</h3>
    <span>from {{origin}}</span><span>{{departure}}</span>
</a>